<article >
  <div>
    <button id="animal-name" data-animal-id="{{id}}">{{animal_name}}</button> <button id="buy-price">{{buy_price}}</button> <button id="sell-price">{{sell_price}}</button> <button data-buy-id="buy" class="button">Buy</button> <button data-sell-id="sell" class="button">Sell</button>
  </div>
</article>