:root {
  --primary-color: #553a2eb8;
  --header-color: #f68b3f;
  --header-font: "Fredoka One", cursive;
  --sub-header: rgba(114, 143, 7, 0.816);
  --inner-text: rgba(199, 90, 7, 0.673);
  --inner-text-background: #ffe6c4;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(./IMG/2727.jpg);

  background-size: cover;
}
.user-header {
  background-color: #4d261400;
  width: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
/* HEADER INFOS*/
.user-header .user {
  color: var(--header-color);
  font-size: 30px;
  margin-left: 9%;
  font-family: "Fredoka One", cursive;
}
.farm-form {
  padding-right: 90px;
}
.user-header .farm-label {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  color: var(--header-color);
}
.user-header .farm-name-input {
  width: 300px;
  color: black;
  font-size: 35px;
}
.user-header .fund {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  color: var(--header-color);
  margin-right: 10%;
  
}

/* header END */

/* SUB HEADER START */


.animalBtn {
  margin-left: 50px;
 float: right;
  width: 500px;
  height: 50px;
  margin-right: 2%;
  border-radius: 13px;
  background-color: #6ec207;
  font-size: large;
}

/* SUB HEADER END */

/* 
  UNDER-HEADLINE START */
  .under-header-name {
    font-size: 50px;
    border-radius: 12px;
    font-family: "Fredoka One", cursive;
    color: white;
    text-align: left;
    margin-right: 8%;
    background-color: #612c07;
  }
 
.under-headline {

  margin-top: 11%;
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  font-family: "Fredoka One", cursive;
  color: rgba(114, 143, 7, 0.816);
}
.under-name {
  display: inline-block;

color: white;
  background-color: #612c07;
  border-radius: 12px;
}
.under-number {
  color: white;
  display: inline-block;
  margin-left: 5%;
  background-color: #612c07;
  border-radius: 12px;
}
/* 
  UNDER-HEADLINE END */

/* Animals START */
main {
  box-sizing: border-box;
  margin-top: 70px;
 
}

.column {
  
  margin-top: 0px;
  float: left;
  width: 33.33%;
  justify-content: space-between;
  display: grid;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 500px;
} 
.imges {
  margin-left: 220%;
  border-radius: 40px;
  margin-top: 27.7%;
}
.animal-name {
  margin-top: 13%;
  margin-left: 180px;
}
.name {

  margin-left: 90px;

  font-size: 50px;
  font-family: "Fredoka One", cursive;
  color: rgba(199, 90, 7, 0.673);
  background-color: #ffe6c4;
  text-align: center;
  border-radius: 13px;
}
.number-owned {
  margin-top: 62px;
  margin-left: 260px;
  
}
.amount {
  width: 100%;
  

  font-size: 50px;
  font-family: "Fredoka One", cursive;
  color: rgba(199, 90, 7, 0.673);
  background-color: #ffe6c4;
  text-align: center;
  border-radius: 13px;
}

/* Pop Up OVERLAY */
/* //////////////////// */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300vw;
  height: 300vh;

  z-index: 1;
  display: none;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #612c07f6;
  width: 1150px;
  height: 800px;
  z-index: 2;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 800ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.popup.active .animalBtn {
  display: none;
}
