<form class="signup-form">
  <div>
    <label>username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label>email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label>password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label>Farm Name:</label>
    <input type="text" id="farm-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
  <div>
    <a href="/login">Login instead</a>
  </div>
</form>

<script src="/javascript/signup.js"></script>