/* MARKET START*/
.market-header {
    background-color: var(--fourth-color);
}

.market-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    background-image: url("../images/farm_bg_opacity.jpg");
    background-size: contain;
    background-position: center;
}

.animals-own {
    width: 40%;
    position: absolute;
    left: 0;
    
}

.market {
    width: 50%;
    position: absolute;
    right: 0;
}

.sell-button {
    margin: 5%;
    padding: 5% 20% 1% 20%;
    border-radius: 5px;
}

.btn-sell {
    color: var(--white);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.placeholder {
    visibility: hidden;
}
/* MARKET END*/